@import "../utils/utils.scss";

.tasks-list {
	display: grid;
	gap: rem(16);
}
.task {
	border-radius: rem(18);
	background-color: white;
	box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.08);

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgba($color: #000000, $alpha: 0.08);
		padding: rem(16);
	}

	&-header-content {
		display: grid;
		gap: rem(8);
	}

	&-label {
		font-size: rem(24);
		font-weight: 700;
	}

	&-description {
		color: rgba($color: #000000, $alpha: 0.4);
	}

	&-footer {
		padding: rem(16);
		width: 100%;
		display: inline-flex;
		gap: rem(8);
		justify-content: space-between;
		align-items: center;

		&-content {
			display: flex;
			gap: rem(8);
		}

		.task-date {
			color: rgba($color: #000000, $alpha: 0.3);
			font-weight: 600;
		}

		.task-time {
			color: rgba($color: #000000, $alpha: 0.3);
		}
	}
}
